// # @placeholder mixin
//	 @include placeholder($params);
@mixin placeholder($params, $hideOnFocus: false, $duration: 0.5s) {
	&::placeholder {
		color: $params;
	}

	@if $hideOnFocus {
		&:focus {
			&::placeholder {
				opacity: 0;
				transition: opacity $duration $duration ease;
			}
		}
	}
}
