// # @set-zindex mixin
//	 @include set-zindex($elem-name, [$direction, $startvalue]);
@mixin set-zindex($elem-name, $counter, $direction: "ascending", $startvalue: 0) {
	$i: 0;
	$s: $startvalue;
	$c: $counter;

	@if $direction == "ascending" {
		@while $i < $c {
			.#{$elem-name}--#{$i + 1} {
				z-index: $s + $i;
			}
			$i: $i + 1;
		}
	} @else {
		@while $i < $c {
			.#{$elem-name}--#{$i + 1} {
				z-index: $s - $i;
			}
			$i: $i + 1;
		}
	}
}
