// # @zoom-box - zoom image mixin
//	 @include zoom-box([$box-name, $img-w, $img-h, $hover-zoom]);
@mixin zoom-box($box-name: "visual-block", $img-w: 300px, $img-h: 250px, $hover-zoom: 20px) {
	.#{$box-name} {
		img {
			@include transition-property(width, height, margin);
			@include transition-duration(0.3s);

			width: $img-w;
			height: $img-h;
		}
	}

	.#{$box-name}__vholder {
		width: $img-w;
		height: $img-h;
		overflow: hidden;
	}

	.#{$box-name}:hover {
		img {
			width: $img-w + $hover-zoom * 2;
			height: $img-h + $hover-zoom * 2;
			margin: -$hover-zoom;
		}
	}
}
