.btn {
	@extend %button;
	border-color: #fff;
	border-radius: 5px;
	background-color: #0738ff;
	color: #fff;

	&:hover,
	&:focus {
		box-shadow: inset 0 0 3px 1px #fff;
	}

	&:active {
		box-shadow: inset 0 0 3px 3px #fff;
	}
}
