
@mixin svg-icon($name) {
	$svg-folder-name: "svg" !default;
	$image-name: $name;

  width: image-width("#{$svg-folder-name}/#{$image-name}.png");
  height: image-height("#{$svg-folder-name}/#{$image-name}.png");

  background: inline-image("#{$svg-folder-name}/#{$image-name}.svg");
  background-size: 100% 100%;

	.no-svg & {
	  background: image-url("#{$svg-folder-name}/#{$image-name}.png");
	}
}

%star {
	@extend .icon;
	@include svg-icon("star");
}

.star {
	@extend %star;
}
