{% load staticfiles %}
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta charset="utf-8">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="description" content="{% block seocontent %} Page description {% endblock seocontent %}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<title>Project - {% block pagename %} index	{% endblock pagename %} </title>

		<!-- responsive viewport -->
		<link rel="stylesheet" media="all" href="{% static "styles/main.css" %}" type="text/css">
		<!-- Cdn jquery load -->

		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script type="text/javascript">
			window.jQuery || document.write('<script type="text/javascript" src="{% static "scripts/jquery.min.js" %}"><\/script>');
		</script>
		<!-- ie6-8 html5 shim -->
		<!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body>
		<div class="page">
			{% block content%}
			
			{% endblock%}
		</div>
		<script type="text/javascript" src="{% static "scripts/main.js" %}"></script>
</body>
</html>
