<aside class="sidebar">
	<strong class="logo"><a href="#">WARGAMING.NET LEAGUE</a></strong>
	<div class="sidebar__slogan">
		<p>play more.</p>
		<p>play better.</p>
	</div>

	<nav class="barrel__nav" data-role="barrel-navigation">
		<ul class="barrel__nav__list">
			<li><a href="#featured-column" class="barrel__nav__link icon-featured is-active">Featured</a></li>
			<li><a href="#matches-column" class="barrel__nav__link icon-upcoming">Matches</a></li>
			<li><a href="#media-column" class="barrel__nav__link icon-popular">Top Media</a></li>
			<li><a href="#broadcasting-column" class="barrel__nav__link icon-news">Broadcasting</a></li>
		</ul>
	</nav>

	<div class="sidebar__copy">
		<p>&copy; 2013 <a href="#">Wargaming.net</a></p>
		<p>All rights reserved</p>
	</div>

	<ul class="social-networks">
		<li><a class="social-networks__facebook" href="#">facebook</a></li>
		<li><a class="social-networks__vkontakte" href="#">vkontakte</a></li>
		<li><a class="social-networks__twitter" href="#">twitter</a></li>
		<li><a class="social-networks__youtube" href="#">youtube</a></li>
	</ul>
</aside>
