
%star {
	@extend .icon;
	@include svg-icon("star");
}

/*
# Svg icons
Star icons
```
<span class="star"></span>
<span class="star star--small"></span>
<span class="star star--extra-small"></span>
```
*/

.star {
	@extend %star;
}

.star--small {
	width: 40px;
	height: 40px;
}

.star--extra-small {
	width: 20px;
	height: 20px;
}
