// # Project global base classes
// %clearfix - clearfix base class
//		@extend %clearfix;
%clearfix {
	@if $legacy-support-for-ie {
		*zoom: 1;
	}

	&:after {
		content: '';
		display:table;
		clear: both;
	}
}

// # %button-reset - button reset base class
//	 @extend %button-reset;
%button-reset {
	@include inline-block(middle);
	@include box-sizing(content-box);
	outline: none;
	border: none;
	position: relative;
	background: none;
	overflow: visible;
	padding: 0;
	margin: 0;
	color: $base-color;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
}

// # %button - button base class
//	 @extend %button;
%button {
	@extend %button-reset;
	padding: 11px 10px 10px;
	height: 18px;
	border: 1px solid #ccc;
}

// # %input-text - input reset base class
//	 @extend %input-text;
%input-text {
	overflow: hidden;

	input[type="search"],
	input[type="number"],
	input[type="number"],
	input[type="email"],
	input[type="url"],
	input[type="tel"],
	input[type="text"] {
		@include box-sizing(border-box);
		margin: 0;
		padding: 5px;
		background: none;
		border: none;
		width: 100%;
		display: block;
		outline: none;
	}
}

// # %fixed-bg - input reset base class
//	 @extend %fixed-bg;
%fixed-bg {
	@include hide-text(left);
	position: absolute;
	left: 0;
	bottom: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

// # %flex-image - Flexible image base class
//	 @extend %flex-image;
%flex-image {
	display: block;
	height: auto;
}

// # %flex-image-container - Flexible container with image base class
//	 @extend %flex-image;
%flex-image-container {
	> img {
		display: block;
		width: 100%;
		height: auto;
	}
}
