// custom font face mixin - fix ie9-10
@mixin my-font-face($name, $font-files, $eot: false, $weight: false, $style: false) {
	$iefont: unquote("#{$eot}?#iefix");
	@font-face {
		font-family: quote($name);
		@if $eot {
			src: font-url($eot);
			$font-files: font-url($iefont) unquote("format('embedded-opentype')"), $font-files; }
		src: $font-files;
		@if $weight {
			font-weight: $weight; }
		@if $style {
			font-style: $style; } } }

%clearfix {
	@if $legacy-support-for-ie {
		*zoom: 1;
	}
	
	&:after {
		content: '';
		display:table;
		clear: both;
	}
}

%button {
	@include inline-block(middle);
	@include box-sizing(content-box);
	position: relative;
	overflow: visible;
	margin: 0;
	padding: 11px 10px 10px;
	height: 18px;
	border: 1px solid #ccc;
	background: none;
	color: $base-color;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
}

%input-text {
	overflow: hidden;

	input[type="text"] {	
		margin: 0;
		padding: 5px;
		background: none;
		border: none;
		width: 100%;
		display: block;
		outline: none;
		@include box-sizing(border-box);
	}
}

%fixed-bg {
	@include hide-text(left);
	position: absolute;
	left: 0;
	bottom: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

// @include responsive($breakpoint, screen)
// (using "screen" as an example)
@mixin responsive($breakpoint, $media: all) {
	@media only #{$media} and ($breakpoint) {
		@content;
	}
}

// hidpi: same concept as "responsive", except that this is focusing on
// HiDPI (a.k.a. retina) displays.
@mixin hidpi($media: all) {
	@media 
		only #{$media} and (min--moz-device-pixel-ratio: 1.5),
		only #{$media} and (-o-min-device-pixel-ratio: 3/2),
		only #{$media} and (-webkit-min-device-pixel-ratio: 1.5),
		only #{$media} and (min-device-pixel-ratio: 1.5),
		only #{$media} and (min-resolution: 1.5dppx) {

		@content;
	}
}

// and just because the term "retina" is so widely used, we'll create
// a mixin that uses that as an alias
@mixin retina($media: all) {
	@include hidpi($media) { @content; }
}

// 
// set-zindex
//
@mixin set-zindex($elem-name, $counter, $direction: "ascending", $startvalue: 0) {
	$i: 0;
	$s: $startvalue;
	$c: $counter;

	@if $direction == "ascending" {
		@while $i < $c {
			.#{$elem-name}--#{$i + 1} {
				z-index: $s + $i;
			}
			$i: $i + 1;
		}
	} @else {
		@while $i < $c {
			.#{$elem-name}--#{$i + 1} {
				z-index: $s - $i;
			}
			$i: $i + 1;
		}
	}
}

// 
// placeholder mixin
//
@mixin placeholder($params) {
	&::-webkit-input-placeholder {
		 color: $params;
	}

	&:-moz-placeholder { /* Firefox 18- */
		 color: $params;  
	}

	&::-moz-placeholder {  /* Firefox 19+ */
		 color: $params;  
	}

	&:-ms-input-placeholder {  
		 color: $params;  
	}

	&:placeholder {  
		 color: $params;  
	}
}

// zoom image mixin

@mixin zoom-box($box-name: "visual-block", $img-w: 300px, $img-h: 250px, $hover-zoom: 20px) {
	.#{$box-name} {
		img {
			@include transition-property(width, height, margin);
			@include transition-duration(0.3s);

			width: $img-w;
			height: $img-h;
		}
	}

	.#{$box-name}__vholder {
		width: $img-w;
		height: $img-h;
		overflow: hidden;
	}

	.#{$box-name}:hover {
		img {
			width: $img-w + $hover-zoom * 2;
			height: $img-h + $hover-zoom * 2;
			margin: -$hover-zoom;
		}
	}
}

//
// @inline-icon mixin!
//
@mixin inline-icon($icon-path-name, $position: abs, $location: left, $retina: false, $type: ".png") {
	$width: image-width("#{$icon-path-name}#{$type}");
	$height: image-height("#{$icon-path-name}#{$type}");
	background-image: inline-image("#{$icon-path-name}#{$type}");
	width: $width;
	height: $height;

	@if $position == abs {
		position: absolute;
		top: 50%;
		margin-top: - ($height / 2);

		@if $location == left {
			left: 0;
		}

		@if $location == right {
			right: 0;
		}

		@if $location == center {
			left: 50%;
			margin-left: - ($width / 2);
		}
	}

	@if $position == static {
		position: static;
	}

	@if $retina == retina {
		@include retina {
			background-image: inline-image("#{$icon-path-name}@2x#{$type}");
			background-size: 100% 100%;
		}
	}
}
