// # compass
// ## compass:legacy support

$legacy-support-for-ie: false;
$legacy-support-for-ie8: false;
$legacy-support-for-mozilla: false;
$experimental-support-for-opera: false;

// ## compass:vendor prefixes

$support-for-original-webkit-gradients: false;
$experimental-support-for-khtml: false;


// # colors
// ## colors:palette

$white: #ffffff;
$black: #000000;
$red: #ff0000;
$mine-shaft: #222222;
$outrageous-orange: #ff5f37;
$fresh-eggplant: #800080;
$science-blue: #0066cc;
$night-rider: #0B0605;

// ## colors:text

$base-color: $mine-shaft;
$base-inverse-color: $white;
$base-accent-color: $outrageous-orange;
$base-link-color: $black;
$base-link-hover-color: $black;
$base-link-active-color: $black;
$base-link-visited-color: $fresh-eggplant;
$base-link-focus-color: $red;

// ## colors:backgrounds

$base-background: $night-rider;

// ## colors:selection

$selection-bg: $science-blue;
$selection-color: $white;


// # Animations

$default-transition-property: all;
$default-transition-duration: 1s;
$default-transition-function: ease;
$default-transition-delay: false;


// # z-index stack

$z-index-lvl-0: 0;
$z-index-lvl-1: 10;
$z-index-lvl-2: 20;
$z-index-lvl-3: 30;
$z-index-lvl-4: 40;
$z-index-lvl-5: 50;
$z-index-lvl-6: 60;
$z-index-lvl-7: 70;
$z-index-lvl-8: 80;
$z-index-lvl-9: 90;
$z-index-lvl-10: 100;



// # Fonts

$base-font-size: 16px;
$vertycal-rythm-offset: 24px;
$base-line-height-multiplier: $vertycal-rythm-offset / $base-font-size;
$base-font: #{$base-font-size}/#{$base-line-height-multiplier} Arial, Helvetica, sans-serif;


// # Content

$content-maw: 1198px;
$content-miw: 1000px;


// # break-points
// #3 break-points:desktop

$bp-desktop-start: "min-width: 960px";

// ## break-points:tablet

$bp-tablet-medium-start: "min-width: 768px";
$bp-tablet-start: "min-width: 569px";

// ## break-points:mobile

$bp-mobile-end: "max-width: 568px";


// # usability

$click-additional-area-size: 10px;


// # componentes

// ## shared
$base-padding: 10px;


// ## box
$box-width: 700px;
$box-padding: $base-padding * 4;
$box-top-offset: 230px;
