/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  background: white;
  color: black;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a {
  text-decoration: underline;
  color: black; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }
  a:active {
    background-color: transparent; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before,
q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button,
input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  color: #222222;
  font: 16px/1.34 Arial, Helvetica, sans-serif;
  background: white; }

textarea,
input,
input[type=text],
input[type=password],
input[type=file],
input[type="image"] {
  -webkit-border-radius: 0;
  border-radius: 0; }

/*------------------------------------*\
  base Reset
\*------------------------------------*/
html {
  font-size: 62.5%; }

body {
  margin: 0;
  color: #222222;
  font: 16px/1.34 Arial, Helvetica, sans-serif;
  background: white;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: none; }

textarea,
input,
input[type=text],
input[type=password],
input[type=file],
input[type="image"] {
  -webkit-border-radius: 0;
  border-radius: 0; }

img {
  border-style: none; }

a {
  text-decoration: underline;
  color: black; }
  a:hover {
    text-decoration: none; }
  a:active {
    background-color: transparent; }

input,
textarea,
select {
  font: 100% Arial, Helvetica, sans-serif;
  vertical-align: middle;
  color: #000; }

form,
fieldset {
  margin: 0;
  padding: 0;
  border-style: none; }

header,
footer,
article,
section,
hgroup,
nav,
figure {
  display: block; }

figure {
  margin: 0;
  padding: 0; }

button::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
[type="button"]::-moz-focus-inner {
  padding: 0;
  border: 0; }

.text-right {
  text-align: right; }

.text-center {
  text-align: right; }

.alignleft {
  float: left; }

.alignright {
  float: right; }

.hidden {
  display: none !important; }

.hidden-text {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  display: block;
  height: 0; }

.img-text-replacement {
  display: block;
  height: auto;
  max-width: 100%; }

.icon-sprite, .icon--git {
  background: url('../images/icon-sca09d6f4e7.png') no-repeat; }

.icon {
  display: inline-block;
  vertical-align: middle;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left; }

.icon--git {
  background-position: 0 0;
  height: 512px;
  width: 512px; }

/*@ sourceMappingURL=styles.css.map */