.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.hidden {
	display: none !important;
}

.hidden-text {
	@include hide-text(left);
	display: block;
	height: 0;
}

.img-text-replacement {
	display: block;
	height: auto;
	max-width: 100%;
}
